<div class="mobile-only">
  <div class="salam-chat-top">
    <div class="salam-chat-top-button">
      <a href="https:{{ .Site.Params.whatsapp }}"><i class="fab fa-whatsapp"></i> whatsapp</a>
    </div>
  </div>
  <div class="salam-chat-bottom">
    <div class="salam-chat-top-button-2">
      <a href="tel:{{ .Site.Params.telepon }}"><i class="fa-solid fa-square-phone"></i> telepon</a>
    </div>
  </div>
</div>
<div class="desktop-tablet-only">
  <div class="salam-chat-top-desktop">
    <a href="https:{{ .Site.Params.whatsapp }}"><i class="fab fa-whatsapp"></i></a>
  </div>
  <div class="salam-chat-top-kiri">
    <a href="tel:{{ .Site.Params.telepon }}"><i class="fas fa-phone"></i></a>
  </div>
</div>